body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
    transition: opacity 0.5s ease; /* Smooth transition */
}
.hidden {
    opacity: 5; /* Make header near  invisible */
}

